* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/strrynght.gif');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.wavy, h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    color: rgb(255, 255, 255);
}

/* Title */
.wavy {
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2));
}

.wavy h1 {
    position: relative;
    margin-top: 10%;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 4em;
    animation: animate 3s ease-in-out infinite;
}
h1 {
        font-family: 'Righteous', 'cursive';
        text-shadow:1px 1px 10px #fff, 1px 1px 9px rgb(194, 132, 211);
        -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

@keyframes animate
{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    50%, 100%{
        transform: translateY(0px);
    }
}
/* end of title */

/* sec2 */
h2 {
    margin-top: 8%;
    font-family: 'Questrial', sans-serif;
    min-height: 5vh;
}
/* end of sec2 */

/* form */
input {
    padding: 15px 50px 15px 15px;
    font-size: 15px;
    width: 48%;
    display: block;
    margin: 4% auto 4% auto;
    border: 0;
    border-radius: 30px;
}

button { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
    padding: 2% 6%;
    border: solid 2px rgb(30, 31, 50);
    border-radius: 50px;
    font-family: 'Righteous', 'cursive';
    color: rgb(255, 255, 255);
    background: rgb(58, 30, 74);
    transition: 1s;
}
button:hover {
    background-color: rgb(179, 76, 154);
}

button:active {
    background-color:  rgb(15, 11, 93);
}
/* end of form */

.magi-eight {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* img */
img {
    max-width: 100%;
}
/* img end */

#ball.shake {
    animation: shake 1s ease-in-out forwards;
  }
  
  @keyframes shake {
    0%,
    100% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(-10%, 0);
    }
    20% {
      transform: translate(10%, 0);
    }
    30% {
      transform: translate(-5%, 0);
    }
    40% {
      transform: translate(5%, 0);
    }
    50% {
      transform: translate(-2.5%, 0);
    }
    60% {
      transform: translate(2.5%, 0);
    }
    70% {
      transform: translate(-1.25%, 0);
    }
    80% {
      transform: translate(1.25%, 0);
    }
    90% {
      transform: translate(0, 0);
    }
  }

  /* answers */
  #answer.answered {
    animation: answer .5s linear forwards;
    position: absolute;
    font-size: 12px;
    font-family: 'Barlow Condensed', sans-serif;;
  }
  
  @keyframes answer {
    from {
      color: rgba(251, 251, 251, 0);
    }
    to {
      color: rgba(251, 251, 251, 1);
    }
  }