* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/img/strrynght.gif');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.wavy, h2, form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    color: rgb(255, 255, 255);
}

.wavy {
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2));
}

.wavy h1 {
    position: relative;
    margin-top: 20%;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 4em;
    animation: animate 3s ease-in-out infinite;
}
h1 {
        font-family: 'Righteous', cursive;
        text-shadow:1px 1px 10px #fff, 1px 1px 9px rgb(194, 132, 211);
        -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

@keyframes animate
{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    50%, 100%{
        transform: translateY(0px);
    }
}

h2 {
    margin-top: 10%;
    font-family: 'Questrial', sans-serif;
    min-height: 5vh;
}